body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* Section style start */
.section__title {
  line-height: 0.42;
  margin-bottom: 34px;
}

.section__title--primary {
  font-size: 60px;
  color: #262626;
  font-weight: 900;
}

.section__title--secondary {
  font-size: 90px;
  color: #fff;
  font-weight: 700;
}

.section__description {
  font-size: 17px;
  line-height: 1.59;
  margin-bottom: 30px;
}

.section__description--dark {
  color: #262626;
}

.section__description--light {
  color: #fff;
}

.section {
  position: relative;
}

.section--header {
  background: url(../images/header_bg.png) no-repeat center/cover;
  padding: 50px 0 404px;
}

.section--about {
  padding: 70px 0;
  background-image: radial-gradient(circle at 0 0, #00c4c4, #00b7b7, #00adad, #009c9c), linear-gradient(to bottom, #00c4c4, #00c4c4);
}

.section__scroll-icon {
  position: absolute;
  bottom: 69px;
  transform: translateX(50%);
  left: 50%;
}

/* Section style end */


/* Button style start */
.button {
  padding: 14px 25px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: #fff;
  border: none;
  line-height: 1.35;
}

.button--primary {
  background-color: #ff6033;
}

/* Button style end */

/* Header style start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 258px;
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  color: #262626;
  text-decoration: none;
  margin-left: 35px;
  position: relative;
}

.nav__link:hover {
  color: #262626;
}

.nav__link::before {
  content: '';
  width: 0;
  background-color: #ff6033;
  height: 3px;
  position: absolute;
  top: -9px;
  transition: all 0.5s;
}

.nav__link:hover::before {
  content: "";
  width: 100%;
}

/* Header style end */

/* section service */
.section--service {
  padding: 100px 0 151px 0;
  background-color: #70bfff;
}

.service__second-block {
  position: relative;
}

.section__title--service {
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.service--list-item {
  height: 100px;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;
}

.service--list-item:last-child {
  margin-bottom: 0;
}

.service--list-item span {
  max-width: 238px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #262626;
  margin: 0 auto;
}

.service--list-item i {
  font-size: 54px;
}

.service--list {
  margin-top: 6%;
}
  

/* section my blog */
.section--blog {
  padding: 100px 0 120px;
  background-color: #b07cf7;
  min-height: 100vh;
}

.section__title--blog {
  font-size: 90px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
}

.section__subtitle {
  line-height: 1.47;
  font-size: 17px;
  margin-bottom: 47px;
  color: #fff;
  max-width: 574px;
  margin: 0 auto 47px;
  text-align: center;
}

.link {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.link img {
  width: 100%;
}

.link:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(255, 255, 255, 0.1));
  opacity: 0;
}

.link:hover:before {
  opacity: 1;
}

.link:hover .date {
  top: 30px;
  left: 30px;
}

.link:hover .content {
  bottom: 23px;
  left: 20px;
}

.date,
.content {
  position: absolute;
  color: #fff;
  transition: all 0.9s;
}

.date {
  top: -60px;
  left: -60px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #26262680;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 0.78;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  bottom: -100px;
  left: -60px;
}

.content h4 {
  max-width: 328px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
}

.content p {
  font-size: 13px;
  font-weight: 300;
}

.month {
  font-size: 21px;
  margin-top: 5px; 
}

.button--secondary {
  margin-top: 50px;
}

.button--secondary button {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  width: 200px;
  height: 55px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #f72b3b;
  display: block;
  margin: 0 auto;
  border: none;
  transition: all 0.5s ease;
}

.button--secondary button:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 10px 0 rgb(0 0 0 / 0.3);
}

/* section contacts */

.section__contact {
  background: url(../images/contact-bg.png) no-repeat center/cover;
  min-height: 100vh;
  padding-top: 100px;
}

.section__contact--title {
  font-size: 90px;
  line-height: 75px;
  font-weight: bold;
  text-align: center;
  color: #262626;
  margin-bottom: 48px;
}

.section__contact--description {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  display: block;
  max-width: 350px;
  margin: 0 auto 46px;
}

.contact__form--input {
  width: 500px;
  height: 50px;
  margin-bottom: 15px;
  padding-left: 20px;
  opacity: 0.5;
  background-color: #00c4c4;
  border: none;
}

.contact__form--input::placeholder,
.contact__form--textarea::placeholder {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.contact__form--textarea {
  height: 250px;
  width: 500px;
  margin-bottom: 15px;
  padding: 20px 0 0 20px;
  opacity: 0.5;
  background-color: #00c4c4;
  border: none;
}

.contact__form--input:focus, 
.contact__form--textarea:focus {
  opacity: 1;
  outline: none;
  border-left: 5px solid #355b82;
}

.contact__contact--information {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #262626;
  line-height: 1.25;
}

.contact__contact--information h4 {
  font-size: 17px;
  line-height: 1;
  margin-bottom: 3px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact__contact--information:first-child h4 {
  margin-top: 0;
} 

/* footer */
.section__footer--copyright {
  font-size: 16px;
  font-weight: 300;
  color: #b9b9b9;
}

.section__footer--block img {
margin: 0 360px 0 295px;
}

.section__footer--block {
  padding: 32px 164px 31px;
  background-color: #262626;
  text-align: center;
}

.section__footer--copyright span {
  font-weight: bold;
  color: #ff2b58;
}